<mat-card class="p-5" appearance="outlined">
  <div class="text-xl font-semibold mb-4">Filtros</div>
  <form class="flex flex-col gap-2">
    <mat-form-field>
      <mat-label>Ciudad</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
    <!-- Valor Superior -->
    <mat-form-field class="w-full">
      <mat-label>Valor Superior</mat-label>
      <input matInput type="number" placeholder="Ingrese el valor superior">
    </mat-form-field>

    <!-- Valor Inferior -->
    <mat-form-field class="w-full">
      <mat-label>Valor Inferior</mat-label>
      <input matInput type="number" placeholder="Ingrese el valor inferior">
    </mat-form-field>

    <!-- Número de habitaciones -->
    <div class="flex flex-col gap-2">
      <span class="text-sm font-medium text-gray-700">Número de habitaciones</span>
      <div class="flex flex-wrap gap-2">
        @for (item of rooms; track rooms; let i = $index) {
        <mat-checkbox [checked]="item.checked" (change)="update($event.checked, i)">
          {{item.name}}
        </mat-checkbox>
        }
      </div>
    </div>

  </form>
  <div class="flex gap-4 mt-4">
    <button matButton="filled">Aplicar</button>
    <button matButton="elevated">Limpiar</button>
  </div>
  <!-- <div>Ciudad</div>
  <div>Valor Superior</div>
  <div>Valor Inferior</div>
  <div>Número de habitaciones</div> -->
</mat-card>
